<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update pokemon</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Update pokemon</h1>

    <form method="post">
        <div class="form-group w-25">
            <p>Pokedex id: <span th:text="${pokemon.id}"></span></p>
            <p>Pokemon name: <span th:text="${pokemon.name}"></span></p>
            <div class="form-control">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" th:value="${pokemon.name}">
                </div>
                <div class="mb-3">
                    <label for="speed" class="form-label">Speed</label>
                    <input type="number" class="form-control" id="speed" name="speed" th:value="${pokemon.speed}">
                </div>
                <div class="mb-3">
                    <label for="special_defence" class="form-label">Special defence</label>
                    <input type="number" class="form-control" id="special_defence" name="special_defence"
                           th:value="${pokemon.special_defence}">
                </div>
                <div class="mb-3">
                    <label for="special_attack" class="form-label">Special attack</label>
                    <input type="number" class="form-control" id="special_attack" name="special_attack"
                           th:value="${pokemon.special_attack}">
                </div>
                <div class="mb-3">
                    <label for="defence" class="form-label">Defence</label>
                    <input type="number" class="form-control" id="defence" name="defence" th:value="${pokemon.defence}">
                </div>
                <div class="mb-3">
                    <label for="attack" class="form-label">Attack</label>
                    <input type="number" class="form-control" id="attack" name="attack" th:value="${pokemon.attack}">
                </div>
                <div class="mb-3">
                    <label for="hp" class="form-label">Hit points</label>
                    <input type="number" class="form-control" id="hp" name="hp" th:value="${pokemon.hp}">
                </div>
                <div class="mb-3">
                    <label for="primary_type" class="form-label">Primary type</label>
                    <input type="text" class="form-control" id="primary_type" name="primary_type"
                           th:value="${pokemon.primary_type}">
                </div>
                <div class="mb-3">
                    <label for="secondary_type" class="form-label">Secondary type</label>
                    <input type="text" class="form-control" id="secondary_type" name="secondary_type"
                           th:value="${pokemon.secondary_type}">
                </div>
                <button type="submit" class="btn btn-success">Change pokemon</button>
            </div>
        </div>
    </form>
    <!--
    <form method="post">

        <p>id: <span th:text="${pokemon.id}"></span>, Pokemon name: <span th:text="${pokemon.name}"></span></p>

        <label for="name">name: </label>
        <input id="name" name="name" type="text" th:value="${pokemon.name}">

        <label for="speed">speed: </label>
        <input id="speed" name="speed" type="number" th:value="${pokemon.speed}">

        <label for="special_defence"> special defence: </label>
        <input id="special_defence" name="special_defence" type="number" th:value="${pokemon.special_defence}">

        <label for="special_attack">special attack: </label>
        <input id="special_attack" name="special_attack" type="number" th:value="${pokemon.special_attack}">

        <label for="defence">defence: </label>
        <input id="defence" name="defence" type="number" th:value="${pokemon.defence}">

        <label for="attack">attack: </label>
        <input id="attack" name="attack" type="number" th:value="${pokemon.attack}">

        <label for="hp">hp: </label>
        <input id="hp" name="hp" type="number" th:value="${pokemon.hp}">

        <label for="primary_type">primary type: </label>
        <input id="primary_type" name="primary_type" type="text" th:value="${pokemon.primary_type}">

        <label for="secondary_type">secondary type: </label>
        <input id="secondary_type" name="secondary_type" type="text" th:value="${pokemon.secondary_type}">

        <button class="btn btn-primary" type="submit">Button</button>

    </form>
    -->
</div>
</body>
</html>